/* content.js */

/* Crosshair styles */
.crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.horizontal-line {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.vertical-line {
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background-color: red;
}

/* Outer container styles */
.outer-container {
    position: fixed;
    top: 4rem;
    right: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 5px;
}

/* Inner container styles */
.inner-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    align-items: center;
}

/* Title styles */
.title {
    grid-column: 1 / span 2;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

/* Button styles */
.button {
    min-width: 7rem;
    width: 100%;
    height: auto;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

/* Display area styles */
.display-area {
    width: 7rem;
    min-height: 24px;
    background-color: lightgray;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    justify-self: center;
}

/* Toggle button styles */
.toggle-button {
    position: fixed;
    top: 4rem;
    right: 20px;
    font-size:20px;
    background-color:rgba(255,255,255,1);
    border-radius: 1000000px;
    z-index:200;
    width: 24px;
    height: 24px;
}
